.ex-1-square {
  transition: 2s;
}

.ex-1-square:hover {
  background-color: red;
}

.ex-2-square {
  transition: 0.8s;
}

.ex-2-square:active {
  width: 100%;
}

.ex-3-square {
  transition: 4s;
}

.ex-3-square:hover {
  border-radius: 100%;
}
